Package: com.dgh0st.invisblehomecard
Name: InvisbleHomeCard
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Make homescreen card invisble in app switcher
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
