Package: com.dgh0st.invisblehomecard
Name: InvisibleHomeCard
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Remove homescreen card from app switcher
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
